* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
}

body {
  background: url(imgs/blurcolor@2x.png) no-repeat no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* 如果设备像素大于等于2，则用2倍图 */
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  body {
    background: url(./imgs/blurcolor@2x.png) no-repeat no-repeat;
  }
}

/* 如果设备像素大于等于3，则用3倍图 */
@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  body {
    background: url(./imgs/blurcolor@3x.png) no-repeat no-repeat;
  }
}